.categoryes {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    min-height: 150px;
  
    .dropDownList{
        cursor: pointer;
        padding-left: 5px;
        margin-top: 2vh;
        height:26px;
        min-width: 150px !important;
        background: white;
        border:1px solid rgba(0, 0, 0, .3);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg{
            align-self: center;
            padding-right: 5px;
        } 
    }
    .dropDownListItems{
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        position: relative;
        top: -4px;
        overflow: hidden;
        z-index: 2;
        background: white;
        width: 155px;
        border:1px solid rgba(0, 0, 0, .3);
        border-top:none;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        li{
           
            cursor: pointer;
            padding-left: 5px;
            list-style:none ;
        }
        li:hover{
            background: whitesmoke;
        }
    }
}